/**
 * MAIN STYLE
 *
 * -----------------
 * Table of Content
 * -----------------
 * - Global Style
 *
 * - Header
 *  . Top Menu
 *  . Main Menu
 *  . Footer Menu
 *
 * - Content
 *  . Hero / Home Slider
 *  . Main Content
 */

/** ============================
 * Global Style
 ** ===========================*/
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Source+Sans+Pro:400,600,700');

 body {
    background-color: #fff;
    color: #506a85;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #73879c;
}

p.first {
    padding-top: 0;
    margin-top: 0;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 16px;
}

section {
    padding-top: 90px;
    padding-bottom: 80px;
}

section .desc {
    font-size: 22px;
    text-align: center;
    color: #73879c;
    max-width: 780px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

figure {
    background-color: #fff;
    box-shadow: 0px 0px 3px #CFCFCF;
    border-radius: 2px;
}

figure > img {
    max-width: 100%;
}

figure .category {
    color: #73879c;
    font-size: 14px;
    font-family: "Source Sans Pro";
    padding-bottom: 20px;
    font-weight: 600;
}

figcaption {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
    padding-top: 20px;
}

.bg-grey {
    background-color: #f2f5f7;
}

.btn {
    background-color: #17a78b;
    color: #fff;
}

.btn:hover {
    color: #fff;
}

.btn-large {
   font-size: 16px;
   padding: 15px 35px 17px;
}

.center {
    display: table;
    margin: 0 auto;
}

/** ============================
 * Header
 ** ===========================*/

 /* Top Menu */
 .top-menu {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e6e9ed;
    padding: 10px 0;
    font-size: 12px;
}

.top-menu a {
    color: #506a85;
    text-decoration: none;
}

.top-menu ul {
    padding: 0;
    margin: 0;
}

.top-menu li {
    text-decoration: none;
    list-style: none;
    float: left;
}

.top-menu .info > li {
    margin-right: 25px;
}

.top-menu .social > li {
    margin-left: 20px;
}

.top-menu .fa.fa-mobile-phone {
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.top-menu .info .fa {
    margin-right: 5px;
}

/* Main Menu */
.main-menu .branding {
    float: none;
    display: table-cell;
    max-width: 300px;
    padding-left: 0;
}

.main-menu .branding a:hover {
    opacity: 0.7;
    transition: linear ease-in 0.25s;
}

.main-menu .navbar-nav {
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    margin: 0;
    width: 100%;
}

.main-menu .navbar-nav > li > a {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #506a85;
    padding: 15px 20px;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 3px;
    bottom: -1px;
    z-index: 2;
}

.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a:focus {
    background-color: #f5f7fa;
    border: 1px solid #e6e9ed;
}

.mobile-nav {
    background: #17a78b;
    border: none;
    box-shadow: none;
    padding: 5px 8px;
    width: 42px;
    border-radius: 3px;
    float: right;
    margin: 17px 0;
}

.mobile-nav > span {
    display: block;
    height: 4px;
    background: #fff;
    margin: 5px 0;
    border-radius: 3px;
}

@media all and (max-width: 1024px) {
    .main-menu .navbar-nav {
        display: none;
    }

    .main-menu .branding {
        float: left;
        max-width: 300px;
        padding-left: 0;
        display: table;
    }
}

/** ============================
 * Content
 ** ===========================*/

 /* Hero / Home Slider */
 .intro-text {
     text-align: center !important;
 }

 .home-slider .btn {
    margin-top: 35px;
}

/* Main Content */
.main-content {}

/* Featured Section */
.feature-list {
    padding: 0;
    margin: 0;
}

.feature-list li {
    list-style: none;
    padding: 15px 25px;
}

.feature-list .licon,
.feature-list .lcontent {
    display: table-cell;
}

.licon {
    font-size: 70px;
    vertical-align: top;
    padding-right: 20px;
    color: #17a78b;
}

@media all and (max-width: 1010px) {
    .licon {
        width: 120px;
    }
}

/* Portfolio Section */
.portfolio-grid {
    padding: 50px 0 0 0;
    margin: 0
}

.portfolio-grid li {
    list-style: none;
}

#portfolio-carousel {
    padding-top: 85px;
    padding-bottom: 30px;
}

#portfolio-carousel .carousel-indicators {
    margin-bottom: -42px;
}

#portfolio-carousel .carousel-indicators li {
    background-color: #506a85;
    border: none;
    width: 15px;
    height: 15px;
}

#portfolio-carousel .carousel-indicators .active {
    background-color: #17a78b;
}

/** =========================
 * Footer
 ** ========================*/
 footer {
    background-color: #2f4052;
    padding-top: 30px;
}

footer h3 {
   font-size: 16px;
   color: #fff;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 20px;
   letter-spacing: 2px;
}

 footer figure {
     background: none;
     box-shadow: none;
 }

 footer p {
    font-size: 14px;
    padding: 15px 0 8px 0;
}

footer .more {
    color: #a3b1bf;
    font-size: 15px;
    font-weight: bold;
}

footer .claim {
    background-color: #283645;
    margin-top: 40px;
}

footer .latest-work-grid {
    padding: 0;
    margin: 0;
}

.latest-work-grid li {
    list-style: none;
    padding: 0px 0px 8px 0;
}

footer .info {
    color: #73879c;
    font-size: 14px;
    list-style: none;
    padding: 0;
    font-weight: 600;
}

footer .info li > i {
    width: 10px;
    text-align: center;
    margin-right: 7px;
}

footer form {
    background-color: #4e5c6c;
    border-radius: 5px;
    padding: 10px;
}

@media all and (min-width: 1200px) {
    footer .form-control {
        color: #fff;
        display: table-cell;
        max-width: 60%;
        background: none;
        border: none;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 1200px) {
    footer .form-control {
        margin-bottom: 5px;
    }
}

footer .btn {
    display: table-cell;
    padding: 4px 8px;
}

.footer-nav {
    padding-top: 4px;
    margin: 0;
    line-height: 1;
    vertical-align: top;
    float: right;
}

.footer-nav li {
    float: left;
    padding-left: 15px;
    list-style: none;
}

.footer-nav li::before {
    content: '.';
    position: relative;
    font-size: 30px;
    top: -3px;
    left: -6px;
}

.footer-nav li:first-child::before {
    content: '';
}

.footer-nav a {
    font-size: 14px;
    color: #707e8c;
}

@media all and (max-width: 1010px) {
    .copyright {
        text-align: center !important;
    }

    .footer-nav {
        float: none !important;
        padding: 0 0 25px 0 !important;
        margin: 0 auto !important;
        text-align: center !important;
    }

    .footer-nav li {
        float: none !important;
        text-align: center;
        display: inline-block;
    }
}
